<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb6BksSvuIGMLgJiP3PDT68LFEu6VVuwA" async defer></script>

<script>
	var map;
	var direccion = "";
	
	function initMap() {
		var mapOptions = {
 			center: new google.maps.LatLng(25.80, -80.30),
 			zoom: 12,
 			mapTypeId: google.maps.MapTypeId.HYBRID
 		};
		map = new google.maps.Map(document.getElementById("map"), mapOptions);	
	}

</script>

<body onload="initMap()">
	<div id="map"></div>