
<div class="jumbotron">
  <h1 align="center", style="margin-bottom: 40px; margin-top: 10px;">Mapas Temáticos</h1>
  <p align="center", style="margin-bottom: 40px;">Es una aplicación sencilla para generar mapas estadísticos utilizando los datos que puedas subir.</p>
  
  <div class="span4 offset4 text-center">
  	<button class="btn1 btn-primary btn-lg", style="margin-top: 25px" onclick="myFunctionJS()" id="btnMyModal">Comenzar</button>
  </div>

  <!-- Ventana modal 1 Configuración mapa -->
  <div id="myModal1" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Paso 1/3: Configuración del mapa</h4>
      </div>
      <div class="modal-body">
        
        <h3>Tipo de mapa</h3>
      		<form style="padding-left:30px;" action="">
			  <input type="radio" name="gender" value="male"> Satélite<br>
			  <input type="radio" name="gender" value="female"> Híbrido<br>
			  <input type="radio" name="gender" value="other"> Físico
			</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseModal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-toggle= "modal" onclick="changeModalWindow('myModal1','myModal2')" data-target="#myModal2">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<!-- Ventana modal 2 Configuración estadísticas -->
<div id="myModal2" class="modal" style="display:none" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="btnCloseModal2" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Paso 2/3: Configuración de estadísticas</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="changeModalWindow('myModal2','myModal1')" data-dismiss="modal" id="btnAtrasModal2">Atrás</button>
        <button type="button" class="btn btn-primary" data-toggle= "modal" id="btnSiguienteModal2" onclick="changeModalWindow('myModal2','myModal3')" data-target="#myModal3">Siguiente</button>
      </div>
    </div>
  </div>
</div>

<!-- Ventana modal 3 Subida de archivos -->
<div id="myModal3" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="btnCloseModal3" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Paso 3/3: Importar archivos</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="changeModalWindow('myModal3','myModal2')" id="btnAtrasModal3">Atrás</button>
        <button type="button" class="btn btn-primary" data-toggle= "modal" id="btnSiguienteModal3" data-target="#myModal2">Guardar</button>
      </div>
    </div>
  </div>
</div>


</div>

<div id="map" onload="initMap()">
	
</div>

<button type="button" class="btn btn-default" onclick="switchTypeMap()">Cambiar vista</button>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb6BksSvuIGMLgJiP3PDT68LFEu6VVuwA" async defer></script>

<script>
	var map;
	var direccion = "";
	var mapOptions;
	
	/* Iniciar mapa */
	function initMap() {
		mapOptions = {
 			center: new google.maps.LatLng(25.80, -80.30),
 			zoom: 12,
 			mapTypeId: google.maps.MapTypeId.HYBRID
 		};
		map = new google.maps.Map(document.getElementById("map"), mapOptions);	
	}

	/* Localizar país */
	function centerMap(direccion){
		if (direccion != ""){
			var geocoder = new google.maps.Geocoder();
			geocoder.geocode( {'address' : direccion}, function(results, status) {
		    	if (status == google.maps.GeocoderStatus.OK) {
		        	map.setCenter(results[0].geometry.location);
		        	map.setZoom(6);
			    }
			});
		}
		else{
			alert("¡Tienes que indicar un país!");
		}
	}

	window.onload = initMap;

	function switchTypeMap(){
	//var map = new google.maps.Map(document.getElementById("map"), mapOptions);
	if(map.getMapTypeId() == 'hybrid'){
		map.setMapTypeId(google.maps.MapTypeId.ROADMAP);
	}
	else{
		map.setMapTypeId(google.maps.MapTypeId.HYBRID);
	}
}
</script>

<!-- <body onload="initMap()">
	<div id="map"></div>

	<div class="input-group">
 		<input type="text" class="form-control" placeholder="País o Ciudad" aria-describedby="basic-addon1" id="pais">
		<button class="btn btn-danger" onclick="centerMap(document.getElementById('pais').value)">Ir!!</button>
	</div>

</body> -->