<div class="jumbotron">
  <h1 align="center", style="margin-bottom: 40px; margin-top: 10px;">Mapas Temáticos</h1>
  <p align="center", style="margin-bottom: 40px;">Es una aplicación sencilla para generar mapas estadísticos utilizando los datos que puedas subir.</p>
  <p><a class="btn1 btn-primary btn-lg center-block", style="margin-top: 25px">Comenzar</a></p>
</div>



<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb6BksSvuIGMLgJiP3PDT68LFEu6VVuwA" async defer></script>

<script>
	var map;
	var direccion = "";
	
	/* Iniciar mapa */
	function initMap() {
		var mapOptions = {
 			center: new google.maps.LatLng(25.80, -80.30),
 			zoom: 12,
 			mapTypeId: google.maps.MapTypeId.HYBRID
 		};
		map = new google.maps.Map(document.getElementById("map"), mapOptions);	
	}

	/* Localizar país */
	function centerMap(direccion){
		if (direccion != ""){
			var geocoder = new google.maps.Geocoder();
			geocoder.geocode( {'address' : direccion}, function(results, status) {
		    	if (status == google.maps.GeocoderStatus.OK) {
		        	map.setCenter(results[0].geometry.location);
		        	map.setZoom(6);
			    }
			});
		}
		else{
			alert("¡Tienes que indicar un país!");
		}
	}

</script>

<body onload="initMap()">
	<div id="map"></div>

	<div class="input-group">
 		<input type="text" class="form-control" placeholder="País o Ciudad" aria-describedby="basic-addon1" id="pais">
		<button class="btn btn-danger" onclick="centerMap(document.getElementById('pais').value)">Ir!!</button>
	</div>

</body> -->