@media (max-width: 540px) {
	.jumbotron {
		margin-right: 20px !important;
		margin-left: 20px !important;
	}
}

.display-inline {
	display: inline-flex;
}

.list-maps {
	padding-left:30px;
	margin-bottom: 10px;
}

.title-maps {
	margin-bottom: 40px;
	margin-top: 10px;
}

.margin-top-0 {
	padding-top: 0;
}

.margin-top-40 {
	margin-bottom: 40px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-25 {
	margin-top: 25px;
}

tr > td {
	vertical-align: middle !important;
}

/* Body */
body{
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url('/assets/fondomod2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

.help {
  background-color: #ffed5e;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 50%;
  margin-top: 4px;
  border-color: #bdbdbd;
  border-width: 1px;
}

.help-container {
  text-align: right;
  margin-top: -41px;
  margin-right: 3px;
}

/* Cabecera. Color brand */
.navbar-default .navbar-brand {
	color: #FFF;
}

/* Margen navbar */
.navbar-right{
	margin-right: 30px !important;
}

/* Panel */
.panel {
	max-width: 700px;
	margin: auto;
}

/* Dentro del panel */
.panel-body{
	margin-left: 50px;
}

/* Mapa */
#map {
	display: block;
	height: 600px;
	width: 100%;
	//margin-bottom: 50px;
	// margin-left: 50px;
}

.input-group{
	margin-left: 50px;
}

/* Jumbotron */
.jumbotron{
	margin-right: 70px;
	margin-left: 70px;
}

/* h4 de las ventanas modales */
.modal-body h4{
	border: 1px solid rgb(44, 62, 80);
    border-radius: 10px;
    background-color: rgb(229, 229, 229);
    padding: 5px;
    margin-top: 3px;
}

/* Caja de texto de las ventanas modales */
.input-group{
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 300px;
}

.form-control{
	margin-bottom: 20px;
}
