
/* Body */
body{
	padding-top: 140px;
	padding-bottom: 100px;
	background-image: url('/assets/fondomod2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

/* Cabecera. Color brand */
.navbar-default .navbar-brand { 
	color: #FFF;
}

/* Margen navbar */
.navbar-right{
	margin-right: 30px !important;
}

/* Panel */
.panel {
	margin-left: 350px;
	max-width: 700px;
}

/* Dentro del panel */
.panel-body{
	margin-left: 50px;
}

/* Mapa */
#map {
	display: block;
	height: 600px;
	width: 100%;
}