<footer class="navbar navbar-fixed-bottom navbar-default">
<nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Contacto",   'contact' %></li>
        <li><%= link_to "Acerca de",   'about' %></li>
        <li><%= link_to "Ayuda",   'help' %></li>
      </ul>
    </nav>
</footer>