<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Mapas Temáticos </a>
    </div> 
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(new_user_session_path) %>"><%= link_to "Accede", new_user_session_path %></li>
        <li class="<%= 'active' if current_page?(new_user_registration_path) %>"><%= link_to "Registrate", new_user_registration_path %></li>
      </ul>
    </nav>
</header>